@font-face {
  font-family: "Vollkorn";
  src: url("../fonts/Vollkorn/static/Vollkorn-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "VollkornBold";
  src: url("../fonts/Vollkorn/static/Vollkorn-SemiBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeue-Med";
  src: url("../fonts/helvetica-neue/HelveticaNeueMedium.ttf") format("truetype");
  font-weight: medium;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeue-Bold";
  src: url("../fonts/helvetica-neue/HelveticaNeueBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BeVietnam-Thin";
  src: url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BeVietnam-Thin-Italic";
  src: url("../fonts/Be_Vietnam_Pro/BeVietnamPro-ThinItalic.ttf")
    format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "BeVietnam-Regular";
  src: url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BeVietnam-SemiBold";
  src: url("../fonts/Be_Vietnam_Pro/BeVietnamPro-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BeVietnam-Bold";
  src: url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
