.avatar {
  display: none;
  width: var(--space-80);
  height: var(--space-80);
  position: relative;
}

.avatar img {
  width: 100%;
}

.intro-section {
  .link {
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    background-color: var(--highlight);
    font-family: var(--default-font-bold);
    color: var(--paragraph-link-color);

    &:hover {
      opacity: 1;
      background-color: aquamarine;
      transition: var(--transition);
    }
  }
}

#intro-avatar,
#intro-blurb {
  opacity: 1;
  transform: translateY(0);
  transition: var(--transition-slower);
  &.hide-intro {
    transform: translateY(-10%);
    opacity: 0;
    transition: var(--transition-slow);
  }
}

/* Avatar */
#intro-avatar {
  transform: translateY(0) translateX(140px) scale(1);
  &.hide-intro {
    transform: translateY(-22%) translateX(140px) scale(0.9);
  }
}

/* Blurb */
.intro-section {
  .paragraph {
    font-family: var(--default-font);
    line-height: 1.5;
  }
}

/* Above Tablet */
@media (min-width: 780px) {
  #intro-avatar {
    transform: translateY(8px) translateX(0) scale(1);
  }
  .avatar {
    position: relative;
    width: var(--space-200);
    height: auto;
    text-align: right;
    display: block;
    img {
      width: 100%;
      height: auto;
    }
  }
  .intro-section {
    margin-top: var(--space-200);
  }

  .intro-section {
    .paragraph {
      line-height: 1.7;
      font-size: var(--space-20);

      .link {
        font-size: var(--space-20);
        &:hover {
          color: var(--color-white);
          background-color: var(--color-black);
          /* &:before {
          } */
        }
        /* &:before {
          top: -3px;
        } */
      }
    }
  }
}

/* Above Desktop */
@media (min-width: 1080px) {
  #intro-avatar {
    transform: translateY(8px) translateX(140px) scale(1);
  }
}
