.recent-work-section {
  margin-top: var(--space-100);
  margin-bottom: var(--space-20);
}
.recent-work-examples {
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

.recent-work-logo {
  max-height: 80px;
  max-width: 200px;
}

.recent-work-grid {
  display: flex;
  flex-direction: column;
  gap: var(--space-70);
}

.recent-work img {
}

.recent-work-link-group {
  display: flex;
  flex-direction: column;
  gap: var(--space-10);
}

.recent-work-project {
  margin-bottom: var(--space-100);
}

@media (min-width: 780px) {
  .recent-work-section {
    margin-top: var(--space-300);
    margin-bottom: var(--space-100);
  }
  .recent-work img {
    /* filter: grayscale(1); */
    transition: var(--transition);
    transform: scale(0.98);
    &:hover {
      transition: var(--transition);
      filter: grayscale(0);
      transform: scale(1);
    }
  }
}
