@use "./breakpoints.scss" as bp;

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.footer-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
  gap: 10px;

  @include bp.respond-to(tablet-up) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 0;
    margin-bottom: 0;
    gap: 20px;
  }
}

.footer-nav-icon {
  width: 24px;
  height: 24px;
  svg,
  g {
    fill: var(--svg-icon-fill);
  }
}

.footer-nav-link {
  color: var(--site-text-color);
  font-size: var(--nav-font-size);
  weight: bold;
  display: inline;
  text-decoration: none;
}

.footer {
  opacity: 0;
  height: auto;
  width: 100%;
  box-sizing: border-box;
  padding: var(--space-20);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 2;
  top: 0;
  flex-direction: column;
  bottom: 0;
  height: 100px;
  backdrop-filter: blur(3px);
  height: var(--space-120);
  transition: var(--transition-slow);
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 1s;
  position: relative;

  @include bp.respond-to(tablet-up) {
    position: sticky;
    align-items: flex-end;
    flex-direction: row;
    &.scrolled {
      transition: var(--transition-slow);
      height: var(--space-80);
    }
  }
}

.footer-ctas {
  gap: var(--space-20);
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  @include bp.respond-to(tablet-up) {
    display: flex;
    justify-content: flex-end;
  }
}

.footer-cta {
  font-family: var(--default-font);
  font-size: var(--space-14);
  background-color: var(--cta-bg-color);
  color: var(--cta-color);
  padding: 10px;
  font-weight: 600;
  transition: var(--transition);
  border: 1px solid var(--cta-border-hover-color);
  text-decoration: none;
}

.footer-cta:hover {
  background-color: var(--cta-bg-hover-color);
  color: var(--cta-text-hover-color);
  opacity: 1;
  transition: var(--transition);
  box-shadow: -5px 6px 0px 0px var(--hover-shadow);
  text-decoration: none;
}
