@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#intro-section {
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 140px;
}
#intro-blurb {
  opacity: 0;
  transform: translateY(0);
  transition: var(--transition-slower);
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 2s;
  .paragraph {
    font-size: var(--space-18);
    font-family: var(--default-font-bold);
    line-height: 1.9;
  }
  .hero-text {
    font-size: clamp(var(--space-40), 17vw, var(--space-100));
    line-height: 0.8;
    font-weight: 900;
    margin-bottom: var(--space-20);
  }
}

/* Above Tablet */
@media (min-width: 780px) {
  #intro-blurb {
    &.hide-intro {
      transform: translateY(-10%);
      opacity: 0;
      transition: var(--transition-slow);
    }
  }

  .avatar {
    position: relative;
    width: var(--space-200);
    height: auto;
    text-align: right;
    display: block;
    img {
      width: 100%;
      height: auto;
    }
  }
  #intro-section {
    padding-top: 0;
    align-items: center;
    // padding-top: 20vh;
  }
}

/* Above Desktop */
@media (min-width: 1080px) {
  #intro-avatar {
    transform: translateY(8px) translateX(140px) scale(1);
  }
}
