@use "./breakpoints.scss" as bp;

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#intro-section {
  max-width: 1000px;
  min-height: calc(100vh - var(--space-140));
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: var(--space-140);
  margin-inline: auto;

  @include bp.respond-to(tablet-up) {
    padding-top: 0;
    min-height: 100vh;
    align-items: center;
  }
}

@keyframes colors {
  0% {
    color: red;
  }

  10% {
    color: orange;
  }
  60% {
    opacity: 0;
    color: yellow;
  }
  70% {
    opacity: 1;
    color: yellowgreen;
  }
  90% {
    opacity: 0;
    color: green;
  }
  100% {
    color: darkgreen;
  }
}
#intro-blurb {
  opacity: 1;
  transform: translateY(0);
  transition: var(--transition-slower);
  @include bp.respond-to(tablet-up) {
    &.hide-intro {
      // animation: colors 2s ease-in-out forwards;
      transform: translateY(-10%);
      opacity: 0.2;
      // color: var(--color-med-grey);
      // filter: blur(6px);
      transition: var(--transition-slow);
    }
  }
  .paragraph {
    font-size: var(--space-18);
    font-family: var(--default-font-bold);
    line-height: 1.9;
  }
  .hero-text {
    font-size: clamp(var(--space-40), 17vw, var(--space-100));
    line-height: 0.8;
    font-weight: 900;
    margin-bottom: var(--space-20);
  }
}
