@use "./breakpoints.scss" as bp;

.text-small {
  font-family: var(--default-font);
  font-size: 14px;
  line-height: 1.4;
}

.text-small strong {
  font-family: var(--default-font-bold);
}

.paragraph {
  margin-top: 0;
  font-family: var(--default-font);
  font-size: var(--paragraph-size);
}

.text-weight-600 {
  font-weight: 400;
}

.text-color-grey-01 {
  color: var(--color-med-grey);
}

.section-title {
  display: inline-block;
  position: relative;
  width: auto;
  margin-top: 0;
  margin-bottom: 0;
  font-size: var(--space-30);
  color: var(--color-white);

  @include bp.respond-to(tablet-up) {
    padding-left: var(--space-20);
  }
}

.section-title {
  &.highlight {
    @include bp.respond-to(desktop-up) {
      color: var(--color-highlight);
    }
  }
  &.underline {
    &:after {
      content: "";
      position: absolute;
      width: 100dvh;
      transform: translateX(-100%);
      left: 0;
      height: 1px;
      background-color: var(--color-white);
      bottom: 0;
      opacity: 0.8;
    }
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      left: 0;
      height: 1px;
      background-color: var(--color-white);
      bottom: 0;
      opacity: 0.8;
    }
  }
}
